numpy
scipy
Cython
emcee
jinja2
mpmath
pandas
Pillow
scikit-learn==0.24.2
statsmodels
Pyro4
pybind11
ConfigSpace
nose
pyyaml
git+https://github.com/pedrogbmendes/george.git@development
git+https://github.com/automl/pybnn.git
git+https://github.com/automl/george.git@development
cma
matplotlib
netifaces
xautodl
nats_bench
