numpy==1.16.4
scipy==1.4.1
Cython==0.29.23
emcee>=2.1.0
jinja2
mpmath
pandas
Pillow
sklearn
pybind11
pyrfr
torch==1.6.0
networkx
torchvision==0.7.0
ConfigSpace==0.4.14
tensorflow==1.14.0
keras==2.2.5
Keras-Preprocessing==1.1.2
nose
pyyaml
git+https://github.com/automl/george.git@development
git+https://github.com/automl/pybnn.git
git+https://github.com/automl/george.git@development
direct
cma
theano
matplotlib
lasagne
termcolor
