numpy==1.19.5
scipy
Cython
emcee
jinja2
mpmath
pandas==1.1.5
Pillow
scikit-learn==0.24.2
statsmodels
Pyro4
pybind11
ConfigSpace==0.4.19
nose
pyyaml
git+https://github.com/pedrogbmendes/george.git@development
git+https://github.com/automl/pybnn.git
cma
matplotlib
netifaces
xautodl
nats_bench
direct
